body {
	background-color: rgb(255, 51, 0);
	font-family: 'Vollkorn', serif;
	font-size: 18px;
	margin: 10px;
}

#skel-main {
	display: block;
	margin: 0 auto;
	border: 3px solid black;
}


/* link styles */
.main-nav li {
	display: inline;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
}

ul.nav li {
	display: inline;
	font-size: 18px;
	text-align: center;
	border-bottom: 2px solid black;
	padding-left: 0;
}

nav a {
	text-decoration: none;
	font-weight: bold;
}

nav a.active {
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	text-decoration: none;
	background-color: rgb(253, 175, 66);
}

nav a:hover {
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	text-decoration: none;	
}
/* end of link styles */

h1 {
	color: white;
  	background-color: black;
  	text-align: center;
	font-size: 3.25em;
}
 .head {
 	padding: 0;
  	margin-top: 4px;
 }

h2 {
	border-bottom: 2px solid black;
}

#skel {
	width: 90%;
}

.left, .right, .founder-content {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(252, 176, 64);
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.founder-content {
	margin: 20px;
}

.right {
	font-size: 14px;
	margin-left: 30px;
}

.right a {
	text-decoration: underline;
}

/* founders page */
.propic {

	border: 3px solid black;
}

em {
	font-weight: 900;
}


@media (max-width: 400px) {
	#skel {
		width: 20%;
	}

	#skel-main {
		width: 95%;
	}

	.main-nav li {
		display: inline;
		font-size: 30px;
		padding-left: 0;
	}

	h1 {
		display: none;
	}

	.right {
		margin: 0;
	}

	.left {
		font-size: 15px;
	}
	.founder-content {
		font-size: 15px;
	}

	ul.nav li {
		font-size: 16px;
		border-left: 0;
	}

	.row {
		margin-left: 5px;
		margin-right: 5px;

	}
}







